extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/About/acercaDe.css')

    //-let host = "http://localhost:3000"
    -let host = "https://linkedpost.herokuapp.com"

    .form-top
        a(href=host)
            img(src="../../images/About/boton-de-retroceso.png" id="retroceso" width="45px" height="45px")
        img(src="../../images/About/Logo.png" id="enlace" width="150px" height="150px")
        label#linkedPost Linked Post

    .form-center
        p#center
            |Linked Post es una plataforma que te permite guardar tus enlaces de forma sencilla,
            br
            |unicamente te registras a la plataforma e ingresas con el usuario con el que te hayas registrado,
            br
            |esta plataforma esta pensada para ayudar a aquellas personas que necesitan guardar algún
            br
            |enlace importante y no sepan en donde, pues esta es la plataforma que necesitas

    .form-down
        p#down
            |ESTA PLATAFORMA ES GRATUITA, NO PERMITA QUE OTRA PERSONA COBRE
            br
            |POR UN SERVICIO QUE ES GRTUITO


